.main-chart {
  padding: 20px 0 50px;
  height: 100vh;
}

.main-chart__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-chart__title {
  margin-bottom: 20px;
}

.main-chart__chart {
  margin-bottom: 20px;
}

.main-chart__chart-slider {
  margin-bottom: 20px;
}

.main-chart__button {
  margin-top: auto;
}

.main-chart__checkboxes {
  display: flex;
}

.main-chart__checkbox:not(:last-child) {
  margin-right: 15px;
}